body {
    position: relative;
    padding-top: 5em;
    padding-left: 10em;
}

h3 {
    padding-top: 1em;
}

div.navbar-header{
    padding-left: 9.7em;
}

th {
    font-size: 1.5em;
}

span {
    padding-right: 0.5em;
}

#productName {
    font-size: 1.9em;
    padding-left: 12em;
}

.col-md-4 {
    float: right;
    float: top;
}

.main, .metrics {
    padding-bottom: 1em;
}

.metrics {
    padding-top: 6em;
}

.submissionElem {
    padding-bottom: 1em;
}

.resize {
    display: inline-block;
    width: 800px;
    height: auto;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.navbar-tab{
    padding-left: 5em;
    font-size: 1.3em;
}

.container {
    float:left;
}

.panel {
    margin: 0.5em !important;
}
